*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, 'Times New Roman', Times, serif;
}

.header,.footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

.header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0px;
    font-size: 24px;
    font-weight: 900;
}

.header ul{
    list-style: none;
    display: flex;
    gap: 16px;
    color: #E5E7EB;
    font-size: medium;

}

.hero-section{
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    gap: 32px;

}

.hero-main-text{
    width: 400px;
}

.hero-main-text .title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    text-align: start;
}

.hero-main-text .info{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    cursor: pointer;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 4px 24px;
    border-radius: 4px;
    border: 1px solid #F9FAF8;

}

.hero-main-text button{
    font-size:18px;
    border: none;
    margin-top:8px;
    font-weight: 600;
}

.hero-img img{
    width: 650px;
    height: 210px;
    object-fit: cover;
}

.hero-2nd{
    background-color:#F9FAF8;
    text-align: center;
    padding-bottom: 100px;
}

.hero-2nd h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 48px;
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 48px;
}
.card{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.card img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #3882F6;

}
.card p{
    width: 150px;
}

.quote-section{
    background-color:#E5E7EB ;
    color: #1F2937;
    padding: 70px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 300;
    
}

.quote-container{
     display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 300px; */
}

.quote-author{
    align-self: flex-end;
}

.call-to-action-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}
.call-to-action{
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    padding: 32px;
    border-radius: 4px;
    width: 70%;
    justify-content: space-around;
}

.footer{
    text-align: center;
    padding: 40px;
}